.idea/.idea.idatt2900_group35/.idea/encodings.xml
.idea/.idea.idatt2900_group35/.idea/indexLayout.xml
.idea/.idea.idatt2900_group35/.idea/vcs.xml
.idea/.idea.removable/.idea/.name
.idea/.idea.removable/.idea/encodings.xml
.idea/.idea.removable/.idea/indexLayout.xml
.idea/.idea.removable/.idea/vcs.xml
.idea/.idea.removable/.idea/workspace.xml
.idea/.idea.removable/.idea/.name
.idea/.idea.removable/.idea/encodings.xml
.idea/.idea.removable/.idea/indexLayout.xml
.idea/.idea.removable/.idea/vcs.xml
.idea/.idea.idatt2900_group35/.idea/projectSettingsUpdater.xml
.idea/.idea.idatt2900_group35/.idea/workspace.xml
.DS_Store
